[Unit]
Description=Controleer Top40Archiver-updates twee minuten na opstarten en iedere 24 uur

[Timer]
OnActiveSec=2min
OnUnitInactiveSec=24h
Persistent=true
AccuracySec=1min
Unit=top40-archiver-auto-update.service

[Install]
WantedBy=timers.target
