[Unit]
Description=Verwerk historische Top 40 en Tipparade doorlopend

[Timer]
OnBootSec=2min
OnUnitInactiveSec=1min
AccuracySec=10s
Unit=top40-archiver-history.service

[Install]
WantedBy=timers.target
